tag/v2.0/web-app/WEB-INF/wsSAAC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://academico.espol.edu.ec/webservices/"
xmlns:s1="http://tempuri.org/xmlCarrerasCreditos.xsd" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://academico.espol.edu.ec/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://academico.espol.edu.ec/webservices/">
            <s:import namespace="http://tempuri.org/xmlCarrerasCreditos.xsd" />
            <s:element name="CreditosEstudiante">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="codigoEstudiante" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="codigoDivision" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="codigoCarrera" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="codigoEspecializacion" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="CreditosEstudianteResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" ref="s1:CreditosEstudianteResult" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="InformacionPlanficacion">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="termino" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="InformacionPlanficacionResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="InformacionPlanficacionResult">
                            <s:complexType>
                                <s:sequence>
                                    <s:any minOccurs="0" maxOccurs="2" />                                    
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="InformacionAcademicaEstudianteGet">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="identificacion" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="matricula" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="InformacionAcademicaEstudianteGetResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="InformacionAcademicaEstudianteGetResult">
                            <s:complexType>
                                <s:sequence>
                                    <s:any minOccurs="0" maxOccurs="2" />
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="InfoProfesoresEstudiantesIds">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="termino" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="InfoProfesoresEstudiantesIdsResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="InfoProfesoresEstudiantesIdsResult">
                            <s:complexType>
                                <s:sequence>
                                    <s:any minOccurs="0" maxOccurs="2" />
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="MallasActivasPorCarrera">
                <s:complexType />
            </s:element>
            <s:element name="MallasActivasPorCarreraResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="MallasActivasPorCarreraResult">
                            <s:complexType>
                                <s:sequence>
                                    <s:any minOccurs="0" maxOccurs="2" />
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="MallaPorCarrera">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="division" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="carrera" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="especializ" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="MallaPorCarreraResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="MallaPorCarreraResult">
                            <s:complexType>
                                <s:sequence>
                                    <s:any minOccurs="0" maxOccurs="2" />
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="MateriasMallaAprobadas">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="matricula" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="MateriasMallaAprobadasResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="MateriasMallaAprobadasResult">
                            <s:complexType>
                                <s:sequence>
                                    <s:any minOccurs="0" maxOccurs="2" />
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="MateriasHistorial">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="matricula" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="MateriasHistorialResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="MateriasHistorialResult">
                            <s:complexType>
                                <s:sequence>
                                    <s:any minOccurs="0" maxOccurs="2" />
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ActividadExtraCurricular">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="matricula" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ActividadExtraCurricularResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ActividadExtraCurricularResult">
                            <s:complexType>
                                <s:sequence>
                                    <s:any minOccurs="0" maxOccurs="2" />
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="HorarioClasesScheluder">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="matricula" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="HorarioClasesScheluderResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="HorarioClasesScheluderResult">
                            <s:complexType>
                                <s:sequence>
                                    <s:any minOccurs="0" maxOccurs="2" />
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/xmlCarrerasCreditos.xsd">
            <s:element name="CreditosEstudianteResult">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="CodigoEstudiante" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="Apellidos" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="Nombres" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="CodigoDivision" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="CodigoCarrera" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="CodigoEspecializacion" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="NombreCarrera" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="Creditos" type="s1:ArrayOfEstudianteTipoCredito" />
                        <s:element minOccurs="0" maxOccurs="1" name="Resumen" type="s1:ArrayOfEstudianteCredito" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ArrayOfEstudianteTipoCredito">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="TipoCredito">
                        <s:complexType>
                            <s:sequence>
                                <s:element minOccurs="1" maxOccurs="1" name="IdTipoCredito" type="s:int" />
                                <s:element minOccurs="0" maxOccurs="1" name="NombreCredito" type="s:string" />
                                <s:element minOccurs="0" maxOccurs="1" name="MateriasCreditos" type="s1:ArrayOfEstudianteTipoCreditoMateria" />
                                <s:element minOccurs="1" maxOccurs="1" name="TotalCreditos" type="s:int" />
                            </s:sequence>
                        </s:complexType>
                    </s:element>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfEstudianteTipoCreditoMateria">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="Materia">
                        <s:complexType>
                            <s:sequence>
                                <s:element minOccurs="0" maxOccurs="1" name="CodigoMateria" type="s:string" />
                                <s:element minOccurs="0" maxOccurs="1" name="NombreMateria" type="s:string" />
                                <s:element minOccurs="1" maxOccurs="1" name="NumeroCredito" type="s:int" />
                                <s:element minOccurs="1" maxOccurs="1" name="EstadoMateria">
                                    <s:simpleType>
                                        <s:restriction base="s:string">
                                            <s:enumeration value="APROBADA" />
                                            <s:enumeration value="ACREDITADA" />
                                            <s:enumeration value="CONVALIDADA" />
                                        </s:restriction>
                                    </s:simpleType>
                                </s:element>
                                <s:element minOccurs="0" maxOccurs="1" name="CodigoCredito" type="s:string" />
                            </s:sequence>
                        </s:complexType>
                    </s:element>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfEstudianteCredito">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="Credito">
                        <s:complexType>
                            <s:attribute name="StrReajuste" type="s:string" />
                            <s:attribute name="Reajuste" type="s:int" use="required" />
                            <s:attribute name="IdTipoCredito" type="s:int" use="required" />
                            <s:attribute name="TipoCredito" type="s:string" />
                            <s:attribute name="Tomados" type="s:int" use="required" />
                            <s:attribute name="Flujo" type="s:int" use="required" />
                            <s:attribute name="Excedente" type="s:int" use="required" />
                        </s:complexType>
                    </s:element>
                </s:sequence>
            </s:complexType>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="CreditosEstudianteSoapIn">
        <wsdl:part name="parameters" element="tns:CreditosEstudiante" />
    </wsdl:message>
    <wsdl:message name="CreditosEstudianteSoapOut">
        <wsdl:part name="parameters" element="tns:CreditosEstudianteResponse" />
    </wsdl:message>
    <wsdl:message name="InformacionAcademicaEstudianteGetSoapIn">
        <wsdl:part name="parameters" element="tns:InformacionAcademicaEstudianteGet" />
    </wsdl:message>
    <wsdl:message name="InformacionAcademicaEstudianteGetSoapOut">
        <wsdl:part name="parameters" element="tns:InformacionAcademicaEstudianteGetResponse" />
    </wsdl:message>
    <wsdl:message name="InformacionPlanficacionSoapIn">
        <wsdl:part name="parameters" element="tns:InformacionPlanficacion" />
    </wsdl:message>
    <wsdl:message name="InformacionPlanficacionSoapOut">
        <wsdl:part name="parameters" element="tns:InformacionPlanficacionResponse" />
    </wsdl:message>
    <wsdl:message name="InfoProfesoresEstudiantesIdsSoapIn">
        <wsdl:part name="parameters" element="tns:InfoProfesoresEstudiantesIds" />
    </wsdl:message>
    <wsdl:message name="InfoProfesoresEstudiantesIdsSoapOut">
        <wsdl:part name="parameters" element="tns:InfoProfesoresEstudiantesIdsResponse" />
    </wsdl:message>
    <wsdl:message name="MallasActivasPorCarreraSoapIn">
        <wsdl:part name="parameters" element="tns:MallasActivasPorCarrera" />
    </wsdl:message>
    <wsdl:message name="MallasActivasPorCarreraSoapOut">
        <wsdl:part name="parameters" element="tns:MallasActivasPorCarreraResponse" />
    </wsdl:message>
    <wsdl:message name="MallaPorCarreraSoapIn">
        <wsdl:part name="parameters" element="tns:MallaPorCarrera" />
    </wsdl:message>
    <wsdl:message name="MallaPorCarreraSoapOut">
        <wsdl:part name="parameters" element="tns:MallaPorCarreraResponse" />
    </wsdl:message>
    <wsdl:message name="MateriasMallaAprobadasSoapIn">
        <wsdl:part name="parameters" element="tns:MateriasMallaAprobadas" />
    </wsdl:message>
    <wsdl:message name="MateriasMallaAprobadasSoapOut">
        <wsdl:part name="parameters" element="tns:MateriasMallaAprobadasResponse" />
    </wsdl:message>
    <wsdl:message name="MateriasHistorialSoapIn">
        <wsdl:part name="parameters" element="tns:MateriasHistorial" />
    </wsdl:message>
    <wsdl:message name="MateriasHistorialSoapOut">
        <wsdl:part name="parameters" element="tns:MateriasHistorialResponse" />
    </wsdl:message>
    <wsdl:message name="ActividadExtraCurricularSoapIn">
        <wsdl:part name="parameters" element="tns:ActividadExtraCurricular" />
    </wsdl:message>
    <wsdl:message name="ActividadExtraCurricularSoapOut">
        <wsdl:part name="parameters" element="tns:ActividadExtraCurricularResponse" />
    </wsdl:message>
    <wsdl:message name="HorarioClasesScheluderSoapIn">
        <wsdl:part name="parameters" element="tns:HorarioClasesScheluder" />
    </wsdl:message>
    <wsdl:message name="HorarioClasesScheluderSoapOut">
        <wsdl:part name="parameters" element="tns:HorarioClasesScheluderResponse" />
    </wsdl:message>
    <wsdl:portType name="wsSAACSoap">
        <wsdl:operation name="CreditosEstudiante">
            <wsdl:input message="tns:CreditosEstudianteSoapIn" />
            <wsdl:output message="tns:CreditosEstudianteSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="InformacionAcademicaEstudianteGet">
            <wsdl:input message="tns:InformacionAcademicaEstudianteGetSoapIn" />
            <wsdl:output message="tns:InformacionAcademicaEstudianteGetSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="InformacionPlanficacion">
            <wsdl:input message="tns:InformacionPlanficacionSoapIn" />
            <wsdl:output message="tns:InformacionPlanficacionSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="InfoProfesoresEstudiantesIds">
            <wsdl:input message="tns:InfoProfesoresEstudiantesIdsSoapIn" />
            <wsdl:output message="tns:InfoProfesoresEstudiantesIdsSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="MallasActivasPorCarrera">
            <wsdl:input message="tns:MallasActivasPorCarreraSoapIn" />
            <wsdl:output message="tns:MallasActivasPorCarreraSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="MallaPorCarrera">
            <wsdl:input message="tns:MallaPorCarreraSoapIn" />
            <wsdl:output message="tns:MallaPorCarreraSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="MateriasMallaAprobadas">
            <wsdl:input message="tns:MateriasMallaAprobadasSoapIn" />
            <wsdl:output message="tns:MateriasMallaAprobadasSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="MateriasHistorial">
            <wsdl:input message="tns:MateriasHistorialSoapIn" />
            <wsdl:output message="tns:MateriasHistorialSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="ActividadExtraCurricular">
            <wsdl:input message="tns:ActividadExtraCurricularSoapIn" />
            <wsdl:output message="tns:ActividadExtraCurricularSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="HorarioClasesScheluder">
            <wsdl:input message="tns:HorarioClasesScheluderSoapIn" />
            <wsdl:output message="tns:HorarioClasesScheluderSoapOut" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="wsSAACSoap" type="tns:wsSAACSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="CreditosEstudiante">
            <soap:operation soapAction="http://academico.espol.edu.ec/webservices/CreditosEstudiante" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="InformacionAcademicaEstudianteGet">
            <soap:operation soapAction="http://academico.espol.edu.ec/webservices/InformacionAcademicaEstudianteGet" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="InformacionPlanficacion">
            <soap:operation soapAction="http://academico.espol.edu.ec/webservices/InformacionPlanficacion" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="InfoProfesoresEstudiantesIds">
            <soap:operation soapAction="http://academico.espol.edu.ec/webservices/InfoProfesoresEstudiantesIds" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MallasActivasPorCarrera">
            <soap:operation soapAction="http://academico.espol.edu.ec/webservices/MallasActivasPorCarrera" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MallaPorCarrera">
            <soap:operation soapAction="http://academico.espol.edu.ec/webservices/MallaPorCarrera" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MateriasMallaAprobadas">
            <soap:operation soapAction="http://academico.espol.edu.ec/webservices/MateriasMallaAprobadas" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MateriasHistorial">
            <soap:operation soapAction="http://academico.espol.edu.ec/webservices/MateriasHistorial" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ActividadExtraCurricular">
            <soap:operation soapAction="http://academico.espol.edu.ec/webservices/ActividadExtraCurricular" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HorarioClasesScheluder">
            <soap:operation soapAction="http://academico.espol.edu.ec/webservices/HorarioClasesScheluder" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="wsSAACSoap12" type="tns:wsSAACSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="CreditosEstudiante">
            <soap12:operation soapAction="http://academico.espol.edu.ec/webservices/CreditosEstudiante" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="InformacionAcademicaEstudianteGet">
            <soap12:operation soapAction="http://academico.espol.edu.ec/webservices/InformacionAcademicaEstudianteGet" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="InformacionPlanficacion">
            <soap12:operation soapAction="http://academico.espol.edu.ec/webservices/InformacionPlanficacion" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="InfoProfesoresEstudiantesIds">
            <soap12:operation soapAction="http://academico.espol.edu.ec/webservices/InfoProfesoresEstudiantesIds" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MallasActivasPorCarrera">
            <soap12:operation soapAction="http://academico.espol.edu.ec/webservices/MallasActivasPorCarrera" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MallaPorCarrera">
            <soap12:operation soapAction="http://academico.espol.edu.ec/webservices/MallaPorCarrera" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MateriasMallaAprobadas">
            <soap12:operation soapAction="http://academico.espol.edu.ec/webservices/MateriasMallaAprobadas" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MateriasHistorial">
            <soap12:operation soapAction="http://academico.espol.edu.ec/webservices/MateriasHistorial" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ActividadExtraCurricular">
            <soap12:operation soapAction="http://academico.espol.edu.ec/webservices/ActividadExtraCurricular" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HorarioClasesScheluder">
            <soap12:operation soapAction="http://academico.espol.edu.ec/webservices/HorarioClasesScheluder" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="wsSAAC">
        <wsdl:port name="wsSAACSoap" binding="tns:wsSAACSoap">
            <soap:address location="https://www.academico.espol.edu.ec/services/wsSAAC.asmx" />
        </wsdl:port>
        <wsdl:port name="wsSAACSoap12" binding="tns:wsSAACSoap12">
            <soap12:address location="https://www.academico.espol.edu.ec/services/wsSAAC.asmx" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>